body {
    background: #282828;
}

.text-spotify {
    color: $spotify-green;
}

nav.navbar {
    #navbar-spotify-icon {
        width: 40px;
        margin-right: 1em;
    }
}

.navbar-light .navbar-toggler {
    svg#hamburger-menu-icon {
        width: 25px;
        height: 25px;
        fill: #ffffff;
        border: none !important;
    }
}

.nav-item:hover {
    background-color: $brown;
}

#artist-gallery,
#album-gallery {
    height: calc(100vh - 200px);
    min-height: 650px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $spotify-green;
    }

    &::-webkit-scrollbar-track {
        background-color: darken($spotify-green, 30%);
        border-radius: 10px;
    }
}

#artist-gallery {
    .artist-container {
        display: inline-block;
    }

    .artist-no {
        padding-right:1em;
        padding-left: .5em; // 1em padding right minus .5 anchor padding
    }

    .artist-image {
        object-fit: cover;
        height: 75px;
        width: 75px;

        &.no-artist-image {
            background-color: black;
        }
    }

    .artist-name {
        padding: 0 1em;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: .25em;
        padding: .5em;
        background-color: #000000;
        color: $text-color;

        div {
            display: inline-block;
        }

        &:hover {
            background-color: #222222;
            color: $text-color;
        }
    }
}

#album-gallery {
    .album-container {
        width: 100%;
        display: inline-block;

        .album-inner-container {
            padding: 1em;
            margin: .5em;
            background-color: #000000;

            //CUSTOM FLIP CARD CSS
            .flip-card {
                // perspective: 1000px;

                .flip-card-inner {
                    position: relative;
                    text-align: center;
                    transition: transform 0.25s;
                    transform-style: preserve-3d;                    

                    &.flipped {
                        transform: rotateY(180deg);

                        .flip-card-front {
                            display: none;
                        }

                        .flip-card-back {
                            display: block;
                        }
                    }
                    
                    .flip-card-front {
                        .album-artist-link,
                        .album-link {
                            color: $spotify-green;
                            text-decoration: underline;

                            &:hover {
                                color: $text-color;
                            }
                        }

                        table tbody tr td {
                            vertical-align: super;
                        }
                    }

                    .flip-card-front,
                    .flip-card-back {
                        width: 100%;
                        height: 200px;
                        backface-visibility: hidden;
                    }

                    .flip-card-back {
                        transform: rotateY(180deg);
                        display: none;
                        padding-right: .5em;
                        overflow-y: auto;

                        table tbody tr td {
                            vertical-align: middle;
                        }                        

                        .track-list-container {
                            .track-no {
                                width: 25%;
                            }

                            tbody {
                                tr {
                                    &.playing {
                                        background-color: #282828;
                                    }

                                    .track-no-row {
                                        padding-left: .5em;
                                    }
                                }
                            }

                            .track-preview {
                                width: 2.5em;
                                text-align: center;
                                cursor: pointer;
                                color: $spotify-green;

                                &:hover:not(.playing-icon) {
                                    color: $text-color;
                                }

                                .playing-icon {
                                    color: white;
                                }
                            }
                        }

                        &::-webkit-scrollbar {
                            width: 10px;
                        }
        
                        &::-webkit-scrollbar-button {
                            display: none;
                        }
        
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            background-color: $spotify-green;
                        }
        
                        &::-webkit-scrollbar-track {
                            background-color: darken($spotify-green, 30%);
                            border-radius: 10px;
                        }
                    }
                }
            }

            .flip-card-button {
                [id^="flip-view-albums-"] {
                    display: none;
                }
            }
        }

        img {
            width: 100%;
        }

        table {
            width: 100%;
            font-size: 12px;

            tr  {
                td {
                    padding: .75em 0;
                    text-align: left;
                    border-bottom: 1px solid #191919;
                }
            }

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}

//Vue Player
$player-bg: #060606;
$player-progress-color: darken($spotify-green, 30%);;
$player-seeker-color: $spotify-green;
$player-text-color: $spotify-green;

.player-wrapper {
    text-align: center;
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 100%;
}

.player {
	background-color: $player-bg;
	border: 1px solid $player-bg;
	border-radius: 5px;
	box-shadow: 0 5px 8px rgba(0,0,0,0.75);
	color: $text-color;
	display: inline-block;
    line-height: 1.5625;
    
    .track-info {
        background-color: #060606;
        color: $player-text-color;
        width: 100%;
        max-width: 308px;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;

        @media (min-width: 768px){
            max-width: 507px;
        }

        .track-marquee {
            display: inline-block;
            margin: 0;

            &.scroll {
                animation: marquee 15s linear infinite;
                padding-left: 100%;
            }
        }
    }
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.player-controls {
	display: flex;
	
	> div {
		//border-right: 1px solid $player-border-color;
		
		&:last-child {
			border-right: none;
		}
		
		a {
			color: $spotify-green;
			display: block;
			line-height: 0;
			padding: 1em;
            text-decoration: none;

            &.stop:active,
            &.pressed {
                background-color: #0c0c0c;
            }
        }
        
        .volume {
            height: 100%;
            display: flex;
            padding: 0 0.5em;
            
            input[type="range"] {
                cursor: pointer;
            }
        }
    }
    
    .closePlayer {
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        color: $spotify-green;

        &:active {
            background-color: #0c0c0c;
        }
    }

    .player-button:hover {
        background-color: #0c0c0c;
    }
}

.player-progress {
	background-color: $player-progress-color;
	cursor: pointer;
	height: 50%;
	min-width: 200px;
	position: relative;
	
	.player-seeker {
		background-color: $player-seeker-color;
		bottom: 0;
		left: 0;
		position: absolute;
		top: 0;
	}
}

.player-time {
	display: flex;
	justify-content: space-between;

	.player-time-current {
		font-weight: 700;
		padding-left: 5px;
	}

	.player-time-total {
		opacity: 0.5;
		padding-right: 5px;
	}
}