nav.navbar {
    #navbar-spotify-icon {
        width: 40px;
        margin-right: 1em;
    }
}

.navbar-light .navbar-toggler {
    svg#hamburger-menu-icon {
        width: 25px;
        height: 25px;
        fill: #ffffff;
        border: none !important;
    }
}

.nav-item:hover {
    background-color: $brown;
}

#artists-table {
    .artist-image {
        object-fit: cover;
        height: 75px;
        width: 75px;

        &.no-artist-image {
            background-color: black;
        }
    }

    tr {
        border-bottom: 1px solid $text-color;

        td {
            padding: 1.5rem 0;
        }
    }

}