//
@import
    'main';

@import
    'rtl';

$spotify-green: #1DB954;
$brown: #a76d47;

nav.navbar {
    #navbar-spotify-icon {
        width: 40px;
        margin-right: 1em;
    }
}

.navbar-light .navbar-toggler {
    svg#hamburger-menu-icon {
        width: 25px;
        height: 25px;
        fill: #ffffff;
    }
}

.nav-item:hover {
    background-color: $brown;
}